* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);

}

body {
    background-color: var(--Almost-White);
    font-size: 18px;
    font-family: 'outfit', sans-serif;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
    /* background-color: red; */
}

.logo {
    /* background-color: blue; */
    margin-top: 20px;
}

.main_nav {
    justify-content: space-evenly;
}

.links ul {
    list-style: none;
    gap: 46px;
    margin-top: 20px;

}

.links ul li a {
    text-decoration: none;
}


.rigth_link ul {
    list-style: none;
    gap: 40px;
    margin-top: 20px;

}

.nav_toggle{
    padding: 20px;
    display: none;
}

.rigth_link ul li a {
    text-decoration: none;
}
.spc a{
    padding-right: 10px;
}
.Features{
    width: 170px;
    height: 180px;
    background-color: #fff;
    border-radius: 8%;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    left: 17%;
    display: none;
}
ul li:hover .Features{
    display: block;
}

.Company{
    width: 140px;
    height: 140px;
    background-color: #fff;
    align-content: center;
    margin-top: 20px;
    border-radius: 8%;
    padding: 5px;
    position: absolute;
    display: none;

}
ul li:hover .Company{
    display: block;
}
.Company ul li{
    padding: 6px;
    margin-top: 5px;
    align-items: center;
    
}

.hover_link{
    /* font-weight: 600; */
    color: var(--Medium-Gray);
}
.hover_link:hover{
    font-weight: 700;
    color: var(--Almost-Black);
}
.Reg:hover{
    border: 2px solid black;
    padding: 12px;
    border-radius: 15px;
}
.small_container{
    max-width: 1060px;
    height: 80vh;
    padding-inline: 20px;
    margin: auto;
    gap: 5rem;
    
    overflow: hidden;
    /* flex-wrap: wrap; */

    /* background-color: rebeccapurple; */
}
.left_container{
    max-width: 50vw;
    /* background-color: red; */
    /* padding-left: 140px; */
    align-items: center;
}
.right_container img{
    width:370px;
    /* max-height: 300px; */
   }
   
.left_container h1{

    font-size: 5rem;
    margin-top: 40px;
    line-height: 70px;
    margin-bottom: 40px;
}
.left_container p{
    padding-right: 195px;
    
}

.Mobile_view{
    display: none;
}
.btn{
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 10px;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--Almost-Black);
    color: #fff;
}
.btn:hover{
    color: var(--Almost-Black);
    font-weight: 600;
    background-color: #fff;
    
}
.desktop{
    display: block;
}
.Mobile{
    display: none;
}

.footer_img{
    margin-top: 6rem;
    gap: 50px;
}
.back{
    display: none;
}


/* @media screen and (max-width1192px){
   
    .Mobile {
        display: block;
    }
} */
.br-desktop {
    display: block;
  }
  .back{
    display: none;
  }
@media screen and (max-width:768px){
.nav_toggle{
    display: block;
    margin-left: 17rem;
}
.desktop_view{
    display: none;
}
.Mobile_view{
    display: block;
}
.back{
    display: block;
    position: absolute;
    z-index: 999;
    right: 10%;
    top: 31%;
    display: none;
}
.links{
    position: absolute;
    width: 60%;
    height: 100vh;
    right: -100%;
    background-color: var(--Almost-White);
    position: absolute;
    padding: 15px;
    z-index: 1;
    /* display: none; */

}
.links.active {
    right: 0%;
}
.rigth_link{
    position: relative;
    right: -65%;
    top: 280%;
    z-index: 999;
    /* display: none; */
}
.links ul,.rigth_link ul {
    flex-direction: column;
}
  .small_container{
    flex-direction: column;
}

.right_container img{
    max-width: 800px;
    margin-top: 10px;
    max-height: 300px;
    
   }
.desktop{
    display: none;
}

.left_container{
    max-width: 100vh;
}
.left_container{
    order: 1;
}
.btn{
    padding: 15px 50px;
    font-size: 20px;
    margin-left: 60px;
}
.Mobile {
    display: block;
}
.small_container{
    max-width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.left_container{
    position: absolute;
    top: 50%;

}

 .left_container h1{
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 30px;
   
}
.left_container p{
    text-align: center; 
    padding-right: 1px;
    line-height: 2rem;
    text-align: center;
    font-size: 22px    
}
.br-desktop {
    display: none;
     /* Show <br> on smaller screens */
  }
  .footer_img{
    margin-top: 3rem;
    gap: 15px;
}
.small_container{
    margin: auto;
    gap: 1.5rem;
    
}
.logo{
    position:absolute;
    left: 10%;
}

}
